<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Eternal Music Academy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	  <link rel="stylesheet" href="{% static 'css/ddd.css' %}">
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	  <script>
$(document).ready(function(){
	$("#myModal").modal('show');
});
	</script>


<script type="text/javascript">
	window.jssor_1_slider_init = function() {

		var jssor_1_options = {
		  $AutoPlay: 1,
		  $AutoPlaySteps: 5,
		  $SlideDuration: 160,
		  $SlideWidth: 400,
		  $SlideSpacing: 3,
		  $ArrowNavigatorOptions: {
			$Class: $JssorArrowNavigator$,
			$Steps: 5
		  },
		  $BulletNavigatorOptions: {
			$Class: $JssorBulletNavigator$,
			$SpacingX: 16,
			$SpacingY: 16
		  }
		};

		var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

		/*#region responsive code begin*/

		var MAX_WIDTH = 1280;

		function ScaleSlider() {
			var containerElement = jssor_1_slider.$Elmt.parentNode;
			var containerWidth = containerElement.clientWidth;

			if (containerWidth) {

				var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

				jssor_1_slider.$ScaleWidth(expectedWidth);
			}
			else {
				window.setTimeout(ScaleSlider, 30);
			}
		}

		ScaleSlider();

		$Jssor$.$AddEvent(window, "load", ScaleSlider);
		$Jssor$.$AddEvent(window, "resize", ScaleSlider);
		$Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
		/*#endregion responsive code end*/
	};
</script>
<style>
	/*jssor slider loading skin spin css*/
	.jssorl-009-spin img {
		animation-name: jssorl-009-spin;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes jssorl-009-spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	/*jssor slider bullet skin 057 css*/
	.jssorb057 .i {position:absolute;cursor:pointer;}
	.jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
	.jssorb057 .i:hover .b {stroke-opacity:.7;}
	.jssorb057 .iav .b {stroke-opacity: 1;}
	.jssorb057 .i.idn {opacity:.3;}

	/*jssor slider arrow skin 073 css*/
	.jssora073 {display:block;position:absolute;cursor:pointer;}
	.jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
	.jssora073:hover {opacity:.8;}
	.jssora073.jssora073dn {opacity:.4;}
	.jssora073.jssora073ds {opacity:.3;pointer-events:none;}
</style>
<!--    all animate-->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<!--    all animate-->
	  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<!--    all animate-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body style="background-color: #FFBF00;">
    <nav class="navbar navbar-expand-lg navbar-dark  ftco_navbar ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
	    	<a class="navbar-brand" href="index.html">Eternal Music Academy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu">Menu</span>
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item" ><a href="#index" class="nav-link pl-0"><b>Home</b></a></li>
				<li class="nav-item"><a href="#Courses" class="nav-link"><b>Online Courses</b></a></li>
				<li class="nav-item"><a href="#Courses" class="nav-link"><b>Regular Courses</b></a></li>
	        	<li class="nav-item"><a href="#Teachers" class="nav-link"><b>Teacher</b></a></li>
				<li class="nav-item"><a href="#gallery" class="nav-link"><b>Gallery</b></a></li>
	        	<li class="nav-item"><a href="#Blog" class="nav-link"><b>Blog</b></a></li>
				<li class="nav-item"><a href="#abouts" class="nav-link"><b>About</b></a></li>
	          <li class="nav-item"><a href="#contact" class="nav-link"><b>Contact</b></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	<!-- Models-->
	<div id="myModal" class="modal fade" >
		<div class="modal-dialog">
			<div class="modal-header" style="background-color: #FFBF00;" >
				<h5 class="modal-title" id="exampleModalLabel">Photo Gallery</h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
					<div class="modal-content">
					<div class="modal-body">
							<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
								<img src="{% static 'images/boys.jpg' %}" class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item">
								<img src="{% static 'images/harmonium.jpg' %}" class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item">
								<img src="{% static 'images/singing.jpg' %}" class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item">
								<img src="{% static 'images/guitar_boys.jpg' %}" class="d-block w-100" alt="...">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Models -->
		
	<section class="home-slider owl-carousel">
      <div class="slider-item" id="index" style="background-image:url({% static 'images/singing.jpg' %})">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 text-center ftco-animate">
            <h1 class="mb-4" >Eternal Music Academy "Be<span>More Than What You Are"</span></h1>
            <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({% static 'images/mainbg1.jpg' %})">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 text-center ftco-animate">
            <h1 class="mb-4">“The only truth is music.”<span>  ― Jack Kerouac</span></h1>
            <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>
		
	<section class="ftco-services ftco-no-pb" >
			<div class="container-wrap" >
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate" style="background-color:#712177;">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-teacher"> A</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Certified Teachers</h3>
                <p>“Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.” ― Plato</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate" style="background-color:#4b830d;">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading">B</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Special Education</h3>
                <p>“Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.” ― Plato</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books">C</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Book &amp; Library</h3>
                <p>“Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.” ― Plato</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma">D</span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Certification</h3>
                <p>“Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.” ― Plato</p>
              </div>
            </div>
          </div>
        </div>
			</div>
	</section>
		
	<section class="ftco-section ftco-no-pb" style="border:double;" id="Courses">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Our Courses</span> </h2>
            <p>“A man should hear a little music, read a little poetry, and see a fine picture every day of his life, in order that worldly cares may not obliterate the sense of the beautiful which God has implanted in the human soul.” ― Johann Wolfgang von Goethe</p>
          </div>
        </div>
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style=" background-image: url({% static 'images/guitars.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Guitar</h3>
								<span class="position mb-2">C 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff"  style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/Violinflute.png' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Flute</h3>
								<span class="position mb-2"> 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/tabala.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Tabla</h3>
								<span class="position mb-2"> 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/djembe.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Djembe</h3>
								<span class="position mb-2">1-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>

	              </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style=" background-image: url({% static 'images/guitars.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Guitar</h3>
								<span class="position mb-2">C 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff"  style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/Violinflute.png' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Flute</h3>
								<span class="position mb-2"> 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/tabala.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Tabla</h3>
								<span class="position mb-2"> 1 Month-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff" style="box-shadow:5px 10px 5px 5px green;">
							<div class="img-wrap d-flex align-items-stretch" style="border:solid red 5px;">
								<div class="img align-self-stretch" style="background-image: url({% static 'images/djembe.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center" style="border:5px solid red; border-top:none;">
								<h3>Djembe</h3>
								<span class="position mb-2">1-12 Months</span>
								<div class="faded">
									<p>“If music be the food of love, play on, Give me excess of it; that surfeiting, The appetite may sicken, and so die.” ― William Shakespeare</p>

	              </div>
							</div>
						</div>
					</div>
				</div>
	</section>
		
	<section class="ftco-section ftco-no-pt ftc-no-pb" id="abouts" style="background:#a0fc5a;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 order-md-last wrap-about py-5 wrap-about">
						<div class="text px-4 ftco-animate">
	          	<h2 class="mb-4">Welcome to Eternal Music Academy </h2>
							<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. And if she hasn’t been rewritten, then they are still using her.</p>
							<p><a href="#" class="btn btn-secondary px-4 py-3">Read More</a></p>
						</div>
					</div>
					<div class="col-md-6 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4">What We Offer</h2>
						<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text">
										<h3>Safety First</h3>
										<p>“Music is the language of the spirit. It opens the secret of life bringing peace, abolishing strife.” ― Kahlil Gibran</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text">
										<h3>Regular Classes</h3>
										<p>“Music is the language of the spirit. It opens the secret of life bringing peace, abolishing strife.” ― Kahlil Gibran</p>
									</div>
								</div>
							</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
		
	<section class="ftco-section" id="Teachers" style="background-color:#f7f825;">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Certified Teachers</span> </h2>
            <p>“A man should hear a little music, read a little poetry, and see a fine picture every day of his life, in order that worldly cares may not obliterate the sense of the beautiful which God has implanted in the human soul.” ― Johann Wolfgang von Goethe</p>
          </div>
        </div>
				<div class="row">
					<div class="col-md-6 course d-lg-flex ftco-animate" >
						<div class="img" style="border:5px solid #ff70a6; background-image: url({% static 'images/guitar.jpg' %});"></div>
						<div class="text bg-light p-4" style="border:5px solid #ff70a6; border-left:none; box-shadow:1px 3px 10px 5px #ff70a6;">
							<h3><a href="#">Guitar</a></h3>
							<p class="subheading"><span>Duration:</span> 1 Month-12 Months</p>
							<p>“A man should hear a little music, read a little poetry, and see a fine picture every day of his life, in order that worldly cares may not obliterate the sense of the beautiful which God has implanted in the human soul.” ― Johann Wolfgang von Goethe</p>
						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="border:5px solid #ff70a6; background-image: url({% static 'images/djembe.jpg' %});"></div>
						<div class="text bg-light p-4" style="border:5px solid #ff70a6; border-left:none;">
							<h3><a href="#">Djembe</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
							<p>“When you make music or write or create, it’s really your job to have mind-blowing, irresponsible, condomless sex with whatever idea it is you’re writing about at the time. ” ― Lady Gaga</p>
						</div>
					</div>
				</div>
			</div>
	</section>
	
	<section class="ftco-gallery ftco-no-pb"  id="gallery" style="border:double; background-color:#a0fc5a;">
		<div class="row justify-content-center pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mt-5"><span>Photo Gallery</span></h2>
		  </div>
        </div>	

					<!-- Photos slides -->
					<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1280px;height:450px;overflow:hidden;visibility:hidden;">
						<!-- Loading Screen -->
						<div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
							<img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
						</div>
						<div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1280px;height:450px;overflow:hidden;">
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center"  src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" class="gallery image-popup img d-flex align-items-center" src="{% static 'images/singing1.jpg' %}" />
							</div>
							<div>
								<img data-u="image" src="{% static 'images/singing1.jpg' %}" />
							</div>
						</div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">web animation composer</a>
						<!-- Bullet Navigator -->
						<div data-u="navigator" class="jssorb057" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
							<div data-u="prototype" class="i" style="width:14px;height:14px;">
								<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
									<circle class="b" cx="8000" cy="8000" r="5000"></circle>
								</svg>
							</div>
						</div>
						<!-- Arrow Navigator -->
						<div data-u="arrowleft" class="jssora073" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
							<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
								<path class="a" d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z"></path>
							</svg>
						</div>
						<div data-u="arrowright" class="jssora073" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
							<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
								<path class="a" d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z"></path>
							</svg>
						</div>
					</div>
					
					<!-- Photos slides -->
       </div>
    </section>
	
	<section class="ftco-gallery ftco-no-pb"  style="background-color:#a0fc5a;">
			<div class="row justify-content-center pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mt-5"><span>Video Gallery</span></h2>
		  </div>
	 	<div class="thumbnail-slider">
		<div class="thumbnail-container">
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/singing1.jpg' %}" style="background-image: url({% static 'images/singing1.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/boys.jpg' %}" style="background-image: url({% static 'images/boys.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/harmonium.jpg' %}" style="background-image: url({% static 'images/harmonium.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/guitar_boys.jpg' %}" style="background-image: url({% static 'images/guitar_boys.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/singing1.jpg' %}"  style="background-image: url({% static 'images/singing1.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/boys.jpg' %}" style="background-image: url({% static 'images/boys.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/singing1.jpg' %}" style="background-image: url({% static 'images/singing1.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/boys.jpg' %}" style="background-image: url({% static 'images/boys.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/harmonium.jpg' %}" style="background-image: url({% static 'images/harmonium.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/guitar_boys.jpg' %}" style="background-image: url({% static 'images/guitar_boys.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/singing1.jpg' %}"  style="background-image: url({% static 'images/singing1.jpg' %});">
				</a>
			</div>
			<div class="does">
				<a class="gallery image-popup img d-flex align-items-center" href="{% static 'images/boys.jpg' %}" style="background-image: url({% static 'images/boys.jpg' %});">
				</a>
			</div>
		</div>
	  <!-- controls slides -->
	  <div class="control_s">
	  </div>
	
	</div>
   </div>
	</section>
	
	<section class="ftco-section testimony-section" style="background-color:#f7f825;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 ><span>What Students Says About Us</span></h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-2.jpg' %})">
                  </div>
                  <div class="text ml-2 ">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                    <p class="name">Henry Dee</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-3.jpg' %})">
                  </div>
                  <div class="text ml-2 ">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                    <p class="name">Mark Huff</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-4.jpg' %})">
                  </div>
                  <div class="text ml-2 ">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url({% static 'images/teacher-1.jpg' %})">
                  </div>
                  <div class="text ml-2 ">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Student</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-color:#a0fc5a; background-image: url({% static 'images/bg_5.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container" >
    		<div class="row justify-content-end">
    			<div class="col-md-6 py-5 px-md-5" style="box-shadow:5px 10px 15px 7px blue; background-color: #a0fc5a;">
	          <div class="heading-section heading-section-white ftco-animate mb-5" >
	            <h2 class="mb-4">Admission Enquiry</h2>
	            <p style="color:black;">“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
	          </div>
	          <form action="#" class="appointment-form ftco-animate" >
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		    					<div class="form-field">
          					<div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="#" class="form-control">
                      	<option value="" style="background-color:blue;">Select Your Course</option>
                        <option value="" style="background-color:blue;">Singing</option>
                        <option value="" style="background-color:blue;">Flute</option>
                        <option value="" style="background-color:blue;">Music</option>
                        <option value="" style="background-color:blue;">Tabla</option>
                        <option value="" style="background-color:blue;">Other Services</option>
                      </select>
                    </div>
		              </div>
		    				</div>
	    					<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Phone">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Submit" class="btn btn-secondary py-3 px-4">
		            </div>
	    				</div>
	    			</form>
    			</div>
        </div>
    	</div>
    </section>
		
	<section class="ftco-section" id="Blog" style="background-color:#a0fc5a;">
			<div class="container" >
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent Blog</span> </h2>
            <p>“When you make music or write or create, it’s really your job to have mind-blowing, irresponsible, condomless sex with whatever idea it is you’re writing about at the time. ” ― Lady Gaga</p>
          </div>
        </div>
				<div class="row">
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url({% static 'images/harmonium.jpg' %});">
								<div class="meta-date text-center p-2">
                  <span class="day">27</span>
                  <span class="mos">January</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url({% static 'images/boys.jpg' %});">
								<div class="meta-date text-center p-2">
                  <span class="day">27</span>
                  <span class="mos">January</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url({% static 'images/guitar_boys.jpg' %});">
								<div class="meta-date text-center p-2">
                  <span class="day">27</span>
                  <span class="mos">January</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Skills To Develop Your Child Memory</a></h3>
                <p>“I think music in itself is healing. It’s an explosive expression of humanity. It’s something we are all touched by. No matter what culture we’re from, everyone loves music.” ― Billy Joel.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-secondary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
	</section>
		
	<footer class="ftco-footer ftco-bg-dark ftco-section" style="background-color:#f7f825; border:double black 5px;">
      <div class="container" id="contact">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>

              <div class="block-21 mb-5 d-flex">
                <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Me</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
  		<!-- loader -->
  	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
	  <script src="{% static 'js/jquery.min.js' %}"></script>
	  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
	  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	  <script src="{% static 'js/aos.js' %}"></script>
	  <script src="{% static 'js/scrollax.min.js' %}"></script>
	  <script src="{% static 'js/main.js' %}"></script>
	  <script src="{% static 'js/jssor.slider-28.0.0.min.js' %}" type="text/javascript"></script>
	  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
	  <!-- Include Multislider -->
    <!-- Include Multislider -->
	<script src="{% static 'js/dddd.js' %}"></script>
	<!-- Initialize element with Multislider -->
	<script type="text/javascript">jssor_1_slider_init();
    </script>
  </body>
</html>